@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@import "@catppuccin/tailwindcss/macchiato.css";

/* Custom edge hover effects */
.hover\:stroke-ctp-red-500:hover {
  stroke: var(--ctp-red-500);
}

.hover\:stroke-width-4:hover {
  stroke-width: 4;
}
